.NavigationItem{
}


.NavLinks:link {
    color:rgb(129, 129, 129);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.NavLinks:visited {
    color:rgb(226, 226, 226);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.NavLinks:hover {
    color:rgba(0, 0, 0,0.5);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.NavLinks:active {
}
